body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  width: 95%;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.join {
  background: #092;
  color: #EEE;
}
.leave {
  background: #666;
  color: #EEE;
}

button {
  box-sizing: border-box;
  width: 100px;
}

#live-chat {
  display: none;
  flex-flow: row wrap;
  justify-content: space-around;
}

#videos {
  width: 100%;
}

video {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#self-video {
  width: 33%;
  max-width: 266px;
}

#peer-video {
  display: none;
}

#toolbar {
  text-align: center;
  margin: 5px 0;
}

#chat-room {
  display: none;
  width: 100%;
}

#messages {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #999;
  margin-bottom: 5px;
  list-style-type: none;
  padding: 0;
}

#messages .sender {
background-color: #C1DDDF;
text-align: right;
}

#messages .receiver {
background-color: #DCDCDC;
text-align: left;
}

#message {
  width: 100%;
}

.pets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pets li {
  width: 100%;
  text-align: center;
}

.pets img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  #videos {
    width: 60%;
  }

  #toolbar {
    display: none;
  }

  #chat-room {
    display: block;
    width: 40%;
  }

  .pets li {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  #messages {
    height: 350px;
  }

  .pets li {
    width: 33%;
  }
}
